@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Lost and Found Portal!</h1>
    <p>
        We have created a gathering place for those who want to return or find someone's lost posessions.
        Users can post requests to find lost posessions and posessions they wish to return to their rightful owners.
        Posts are created with their titles, body text, images, and dates when found/lost. Responses are created with body text, 
        response created date, and are tied to a post in a child>parent, many>one relationship.
    </p>
</div>
